
<div class="h-12 flex justify-start items-center" [ngClass]="{ 'bg-green-100': isDevMode }">
    <mat-form-field appearance="outline" class="ms-5 rounded-field custom-field-no-bottom-padding custom-floating-label">
        <mat-label>{{ search }}</mat-label>
        <input type="text" matInput [formControl]='noteControl' [matAutocomplete]="noteAutocomplete">
        <mat-autocomplete #noteAutocomplete="matAutocomplete" 
                          [displayWith]="displayOptionNote" 
                          (optionSelected)="onNoteOptionsSelectionChanged($event)">
            <!--<mat-option *ngFor="let noteOption of notes" [value]="noteOption">
                {{noteOption?.title}}
            </mat-option>-->
            <mat-option *ngFor="let noteOption of filteredNotesOptions | async" [value]="noteOption">
                {{noteOption?.title}}
            </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-icon-button>
        <mat-icon>sort_by_alpha</mat-icon>
    </button>
    <button mat-icon-button 
            [matMenuTriggerFor]="menu"
            [matTooltipDisabled]="!isToolTips" 
            matTooltip="Sort notes by title, tag or content">
        <mat-icon>sort</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
        <button mat-menu-item (click)='setBy("title")'>Search by title</button>
        <button mat-menu-item (click)='setBy("tag")'>Search by tag</button>
        <button mat-menu-item (click)='setBy("content")'>Search by content</button>
    </mat-menu>
</div>
