<div class="h-12 flex justify-end items-center" [ngClass]="{ 'bg-orange-100': isDevMode }">
    <mat-icon class="me-4 rounded-xl border-2 hover:border-sky-500"
              (keydown.enter)="onAvatar()"
              (click)="onAvatar()">
        person_add
    </mat-icon>
    <button [matMenuTriggerFor]="menu" class="me-4 flex items-center">
        <span class="font-bold hover:text-sky-500 hover:cursor-pointer">rom1</span>
        <mat-icon *ngIf="isNotifications">notifications_active</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
        <button [routerLink]="['/profil']" mat-menu-item>Profil</button>
        <button [routerLink]="['/logout']" mat-menu-item>Logout</button>
    </mat-menu>
</div>
