<div class="h-12 flex justify-start items-center" [ngClass]="{ 'bg-red-100': isDevMode }">
    <button mat-icon-button (click)="deleteNote()" [disabled]="!deletable" [matTooltipDisabled]="!isToolTips" matTooltip="Delete note">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="clearEditor()" [matTooltipDisabled]="!isToolTips" matTooltip="Clear note">
        <mat-icon>clear_all</mat-icon>
    </button>
    <button mat-icon-button (click)="saveNote()" [disabled]="!editable" [matTooltipDisabled]="!isToolTips" matTooltip="Save note">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="shareNote()" [disabled]="!sharable" [matTooltipDisabled]="!isToolTips" matTooltip="Share note">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="unlockEditor()" [disabled]="!editable" [matTooltipDisabled]="!isToolTips" matTooltip="Edit note">
        <mat-icon *ngIf="lock">lock_open</mat-icon>
        <mat-icon *ngIf="!lock">lock</mat-icon>
    </button>
</div>    
