<mat-dialog-content class="min-h-56">
    <div>
        <mat-checkbox labelPosition="after">Ascending</mat-checkbox>
    </div>
    <div>
        <mat-checkbox labelPosition="after">Descending</mat-checkbox>
    </div>
    <div>            
        <mat-checkbox labelPosition="after">Search by title</mat-checkbox>
    </div>
    <div>
        <mat-checkbox labelPosition="after">Search by tag</mat-checkbox>
    </div>
    <div>
        <mat-checkbox labelPosition="after">Search by content</mat-checkbox>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="onOk()">Ok</button>
</mat-dialog-actions>