<div class="flex">
    <button mat-icon-button (click)="delete()" [disabled]="!deletable" matTooltip="Delete note">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="clear()" matTooltip="Clear note">
        <mat-icon>clear_all</mat-icon>
    </button>
    <button mat-icon-button (click)="save()" [disabled]="!editable" matTooltip="Save note">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="share()" matTooltip="Share note">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="edit()" [disabled]="!editable" matTooltip="Edit note">
        <mat-icon>edit_note</mat-icon>
    </button>
    <mat-form-field appearance="outline" class="ms-5 my-auto rounded-field custom-field-no-bottom-padding custom-floating-label">
        <mat-label>{{ search }}</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-icon-button>
        <mat-icon>sort_by_alpha</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>sort</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
        <button mat-menu-item (click)='setBy("title")'>Search by title</button>
        <button mat-menu-item (click)='setBy("tag")'>Search by tag</button>
        <button mat-menu-item (click)='setBy("content")'>Search by content</button>
    </mat-menu>
</div>