
@use '@angular/material' as mat;
  

@include mat.core();


$Angular-NotesV2-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));


:root {
  @include mat.all-component-themes($Angular-NotesV2-theme);
}


// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Ngx Quill
@import "../node_modules/quill/dist/quill.snow.css";
@import "../node_modules/quill/dist/quill.bubble.css";

* {
  user-select: none;
  box-sizing: border-box;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input {
  user-select:text;
}

// QUILL EDITOR OVERRIDE CSS
quill-editor {
  height: 100%;
}

quill-editor .ql-toolbar {
  border: none;
}

quill-editor .ql-editor {
  height    : calc(100% - 2.9rem);
  overflow  : auto;
  font-size : 18px;
  color     : black;
}


// QUILL-EDITOR TABLET & MOBILE TOOLBAR AND EDITOR BREAKPOINTS FOR DYNAMIC HEIGHT RELATIVE TO SCREEN WIDTH
@media all and (min-width: 901px) {
  quill-editor .ql-toolbar.ql-snow {
    min-height : 3rem;
    max-height : 3rem;
    display    : flex;
    align-items: center;
  }
}  

@media all and (max-width: 900px) {
  quill-editor .ql-toolbar.ql-snow {
    min-height: 3rem;
    max-height: 3rem;
  }
  
  quill-editor .ql-editor {
    height: calc(100% - 3rem);
  }
}

@media all and (max-width: 470px) {
  quill-editor .ql-toolbar.ql-snow {
    min-height: 3rem;//6rem;
    max-height: 3rem;//6rem;
  }

  quill-editor .ql-editor{
    height: calc(100% - 3rem);
  }
}

@media all and (max-width: 343px) {
  quill-editor .ql-toolbar.ql-snow {
    min-height: 3rem;//8rem;
    max-height: 3rem;//8rem;
  }
  
  quill-editor .ql-editor {
    height: calc(100% - 3rem);
  }
}


//ANGULAR MATERIAL COMPONENTS
button {
  font-size: 1rem;
  font-weight: 700;
}

//MAT-LABEL -> TAILWIND BUG FIX
.mdc-notched-outline__notch { border-right: none; }

//MAT SELECT ROUNDED BORDER
.rounded-field .mat-mdc-form-field-flex .mdc-notched-outline .mdc-notched-outline__trailing {
  border-radius: 0 25px 25px 0;
}

.rounded-field .mat-mdc-form-field-flex .mdc-notched-outline .mdc-notched-outline__leading {
  border-radius: 25px 0 0 25px;
  width: 25px !important;
}

.rounded-field .mat-mdc-form-field-flex {
  height: 32px;
  align-items: center;
}

//MAT SELECT NO PADDING BORDER
.custom-field-no-bottom-padding .mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

//FLOATING LABEL 
.custom-floating-label .mdc-text-field .mdc-floating-label {
  transform: translateY(-120%);
}



// BACKGROUND IMAGES

.custom-bg-header { 
  background-image    : url('../public/images/background-image-header-footer.webp');
  background-size     : cover; 
  background-repeat   : repeat-x;
  background-position : center;
  border              : none;
}

.custom-editor-bg .ql-toolbar { 
  background-image    : url('../public/images/background-image-header-footer.webp');
  background-size     : cover; 
  background-repeat   : repeat-x;
  background-position : center;
  border              : none;
}

/*.custom-editor-bg-color .ql-editor {
  background-image    : url('../public/images/background-image-editor.webp');
  background-size     : cover; 
  background-repeat   : repeat-x;
  background-position : center;
}*/

.custom-bg-footer {
  background-image    : url('../public/images/background-image-header-footer.webp');
  background-size     : cover; 
  background-repeat   : repeat-x;
  background-position : center;
  border              : none;
}

.custom-bg-profil {
  background-image    : url('../public/images/background-image-profil.webp');
  background-size     : cover; 
  background-repeat   : repeat-x;
  background-position : center;
  border              : none;
}

.custom-bg-dashboard {
  background-image    : url('../public/images/background-image-dashboard.webp');
  background-size     : cover; 
  background-repeat   : repeat-x;
  background-position : center;
  border              : none;
}

.custom-bg-login, .custom-bg-register {
  background-image    : url('../public/images/background-image-login.webp');
  background-size     : cover; 
  background-repeat   : repeat-x;
  background-position : center;
  border              : none;
}